{% extends "layouts/default.html" %}

    {% block body %}

        <h1>Nuages de mots</h1>

<!--    TODO Ajout de masques ??-->
        <form action="{{ url_for('nuage_actif') }}" method="POST">
            <div class="test row">
                <div class="col-3">
                    <label for="periode">Sélectionnez la période</label>
                    <select class="form-control" id="periode" name="periode">
                        {% for periode in choix_periode %}
                            <option value="{{ periode[1] }}" {% if periode[1] == data['periode'] %} selected {% endif %}>{{ periode[0] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-dark">Valider</button>
                </div>
            </div>
        </form>

        <br><br>

        <div class="content">
            <img src="../static/images/cloud{{ code['cloud'] }}" alt="Nuage de mots" height="400px">
        </div>

    {% endblock %}