h1{
    text-align: center;
}

.content{
    text-align: center;
}

img{
    text-align: center;
}

.selecteur{
    margin: 20px;
    padding: 30px;
}

button{
    position: relative;
    top: 33px;
}


/* Badge de couleur pour la positivité */
.badge{
    border: black solid 1px;
}

.vert-1{
    background-color: gray;
}

.vert-1{
    background-color: #F0FFF0;
}

.vert-2{
    background-color: #CCFFCC;
}

.vert-3{
    background-color: #89FF89;
}

.vert-4{
    background-color: #40FC40;
}

.vert-5{
    background-color: #00ff00;
}


.rouge-1{
    background-color: #FFF0F0;
}

.rouge-2{
    background-color: #FECCCC;
}

.rouge-3{
    background-color: #FD8F8F;
}

.rouge-4{
    background-color: #FD3F3F;
}

.rouge-5{
    background-color: #ff0000;
}
