{% extends "layouts/default.html" %}

    {% block body %}

        <h1>Classement</h1>

        {% for x in data %}
            <ul>
                <li>
                    <h3><a href="{{ data[x]['lien'] }}" target="_blank">{{ data[x]["titre"] }}</a></h3>
                    <p><strong>Note : {{ data[x]["positivite"] }} --- Auteur : {{ data[x]["auteur"] }}</strong></p>
                    <p>{{ data[x]["date"] }} - {{ data[x]["heure"] }}</p>
                    <p>{{ data[x]["extrait"] }}</p>
                    <p>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </p>
                </li>
            </ul>
        {% endfor %}

    {% endblock %}